<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feature Reduction</title>
</head>
<body>
<img src="/pre/plot_fr.png" alt="my plot">

<form method="post" action="/pre/" enctype="multipart/form-data">
    <dl>
		<p>
			<label for="anno_tbl">ANNOTATION TABLE:</label>
		    <input name="anno_tbl" id="anno_tbl" value="{{ request.form['anno_tbl'] }}" required>
		    <label for="column_selection">COLUMN AVERAGE:</label>
		    <input name="column_selection" id="column_selection" value="{{ request.form['column_selection'] }}" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
</body>
</html>