<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  

  <title>FYP</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">  

  <!--bootstrap-->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">  

  <!-- Materializecss compiled and minified CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/materialize.min.css') }}">

  <!--Import Google Icon Font-->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/fonts/family=Material+Icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/materialize-stepper.css') }}">

</head>

<style type="text/css">

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

</style>

<body style="background-color: #f3f6f9;">
  
  <div id="mainDataInterface-id" class="container mainDataInterface">
    <form method="post" action="/pre/" enctype="multipart/form-data">
    <ul class="stepper parallel horizontal">
      <!--page set 1--> 
      <li class="step active">

        <form method="get" action="/pre/" enctype="multipart/form-data">

          <div class="step-title waves-effect waves-dark">Step 1</div>
          <div class="step-content">
          <div class="row head-word">
            <h3 id="h3-head-1" class="card__title" style="text-align: center;">Choose your basic dataset</h3> 
          </div>

          <div class="where-you-like" style="margin-top: 40px;">

            <div class="row">
              <div class="col-sm-6">
                <h5 id="h3-head-1" class="card__title" style="text-align: center;">DATASET:</h5>
              </div>
              <div class="col-sm-6">
                <div class="file-upload">
                  <div class="file-select">
                    <div class="file-select-button" id="fileName">Choose File</div>
                    <div class="file-select-name" id="noFile">No file choosen...</div> 
                    <input type="file" name="chooseFile" id="chooseFile" required>
                  </div>
                </div>
              </div> 
            </div>

            <div class="row" style="margin-top: 40px;">
              <div class="col-sm-6">
                <h5 id="h3-head-1" class="card__title" style="text-align: center;">ANNOTATION TABLE:</h5>
              </div>
              <div class="col-sm-6">
                <div class="md-form">
                  <select class="form-control" id="anno_tbl" name="anno_tbl">
                      <option value="1">1</option>
                      <option value="2">2</option>
                  </select>           
                </div>          
              </div> 
            </div>

            <div class="row" style="margin-top: 40px;">
              <div class="col-sm-6">
                <h5 id="h3-head-1" class="card__title" style="text-align: center;">COLUMN AVERAGE:</h5>
              </div>
              <div class="col-sm-6">
                <div class="md-form">
                  <select class="form-control" id="column_selection" name="column_selection">
                      <option value="1">1</option>
                      <option value="2">2</option>
                  </select>             
                </div>          
              </div> 
            </div>
            <center>
            <div class="row" style="margin-top: 40px;">
              <div class="col-sm-12">
                <input class="waves-effect waves-dark btn" type="submit" value="Submit">
              </div>
            </div>
            </center>
          </div>

      </form>
                      
          <hr class="line-hr">

            <div class="row">
                <div class="step-actions">
                  <button class="waves-effect waves-dark btn next-step step-1-click">CONTINUE</button>
                </div>          
            </div>

      </li>
      <!-- end page set 1-->
      
      <!--page set 2-->
      <li class="step">
        <div class="step-title waves-effect waves-dark">Step 2</div>
        <div class="step-content">
        <div class="row">

          <h3 id="h3-head-2" class="card__title" style="text-align: center;">DATA-SET BEFORE PRE-PROCESSING</h3> 
        </div>

        <div style="overflow: auto;">
          {% for table in tables %}
                      {{titles[loop.index]}}
                      {{ table|safe }}
          {% endfor %}

        </div>

        <hr class="line-hr">

          <div class="step-actions">
            <button class="waves-effect waves-dark btn next-step step-2-click">CONTINUE</button>
            <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
          </div>
        </div>
      </li>
      <!--end page set 2-->

      <!--page set 3-->
      <li class="step">
        <div class="step-title waves-effect waves-dark">Step 3</div>
        <div class="step-content">
        <div class="row">
          <h3 id="h3-head-3" class="card__title" style="text-align: center;">DATA PRE-PROCESSING</h3>  
        </div>

          <form method="post" action="/pre/step-3" enctype="multipart/form-data">

            <div class="row" style="margin-top: 40px;">
              <div class="col-sm-6">
                <h5 id="h3-head-1" class="card__title" style="text-align: center;">NORMALIZATION METHOD:</h5>
              </div>
              <div class="col-sm-6">
                <div class="md-form">
                    <select class="form-control" id="norm_mthd" name="norm_mthd">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>            
                </div>          
              </div> 
            </div>

            <div class="row" style="margin-top: 40px;">
              <div class="col-sm-6">
                <h5 id="h3-head-1" class="card__title" style="text-align: center;">NULL VALUE REMOVING METHOD:</h5>
              </div>
              <div class="col-sm-6">
                <div class="md-form">
                    <select class="form-control" id="null_rmv" name="null_rmv">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>             
                </div>          
              </div> 
            </div>

            <div class="row" style="margin-top: 40px;">
              <div class="col-sm-5"></div>
              <div class='form-field col-sm-6 step-3-default'>
                <p><input name='checkbox-3-default' type="checkbox" class="filled-in" id="checkbox-3-default" value='checkbox-3-default'/>
                  <label for="checkbox-3-default">DEFAULT METHODS</label>
                </p>
              </div>
              <div class="col-sm-1"></div>
            </div>

            <center>
            <div class="row" style="margin-top: 40px;">
              <div class="col-sm-12">
                <input class="waves-effect waves-dark btn" type="submit" value="Submit">
              </div>
            </div>
            </center>

          </form>

          <hr class="line-hr">

          <div class="step-actions">
            <button class="waves-effect waves-dark btn next-step step-3-click">CONTINUE</button>
            <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
          </div>
        </div>
      </li>
      <!--end page set 3-->

      <!--page set 4-->
      <li class="step">
        <div class="step-title waves-effect waves-dark">Step 4</div>
        <div class="step-content">
        <div class="row">
          <h3 id="h3-head-2" class="card__title" style="text-align: center;">DATA-SET AFTER PRE-PROCESSING</h3>  
        </div>

        <div style="overflow: auto;">
          {% for table in tablesstep4 %}
                      {{titlesstep4[loop.index]}}
                      {{ table|safe }}
          {% endfor %}

        </div>

        <hr class="line-hr">

          <div class="step-actions">
            <button class="waves-effect waves-dark btn next-step step-2-click">CONTINUE</button>
            <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
          </div>
        </div>
      </li>
      <!--end page set 4-->

      <!--page set 5-->
      <li class="step">
        <div class="step-title waves-effect waves-dark">Step 5</div>
        <div class="step-content">
        <div class="row">
          <h3 id="h3-head-4" class="card__title" style="text-align: center;">FEATURE REDUCTION</h3>  
        </div>

        <div class="row">
          <div class="col-sm-8"></div>
          <div class="col-sm-4">
            <div class="row md-form">
              <label><b>FOLD RANGE</b></label>
              <div class="dropdown">
                <button class="dLabel dropdown-select-fold-range" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Select
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-fold-range" aria-labelledby="dLabel">
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                  <li>6</li>
                  <li>7</li>
                  <li>8</li>
                  <li>9</li>
                  <li>10</li>               
                </ul>
              </div>            
            </div>

            <div class="row" style="margin-top: 30px;">
              <button id="btn-set-5-calculate" type="button" class="btn btn-primary btn-lg btn-block"><p class="btn-page-2-p">CALCULATE</p></button>
            </div>

            <div class="row" style="margin-top: 30px;">
              <h5 id="h3-head-1" class="card__title" style="text-align: center;">SELECTED NUMBER OF GENES</h5>
            </div>

            <div class="row">
              <h5 id="h3-head-1" class="card__title" style="text-align: center;"><b>2000</b></h5>
            </div>

          </div>                    
        </div>    

          <div class="step-actions">
            <button class="waves-effect waves-dark btn next-step step-4-click">CONTINUE</button>
            <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
          </div>
        </div>
      </li>
      <!--end page set 5-->

      <!--page set 6-->
      <li class="step">
        <div class="step-title waves-effect waves-dark">Step 6</div>
        <div class="step-content">
        <div class="row">
          <h3 id="h3-head-5" class="card__title" style="text-align: center;">FEATUE SELECTION</h3>  
        </div>

          <div class="row">
            <div class="col-sm-8"></div>

            <div class=" col-sm-4" style="margin-top: 30px;">
              <div class="row md-form">
                <label><b>SELECTED FEATURES</b></label>
                <div class="dropdown">
                  <button class="dLabel dropdown-select-feature-number" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-feature-number" aria-labelledby="dLabel">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>               
                  </ul>
                </div>            
              </div>
              <div class='row form-field step-miami-checkbox' style="margin-top: 30px;">
                <p><input name='checkbox-all-features' type="checkbox" class="filled-in" id="checkbox-all-features" value='checkbox-all-features'/>
                  <label for="checkbox-all-features">SELECT ALL FEATURES</label>
                </p>
              </div>  
            </div>
          </div>

        <hr class="line-hr">

          <div class="step-actions">
            <button class="waves-effect waves-dark btn next-step step-5-click">CONTINUE</button>
            <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
          </div>
        </div>
      </li>
      <!--end page set 6-->

      <!--page set 7-->
      <li class="step">
        <div class="step-title waves-effect waves-dark">Step 7</div>
        <div class="step-content">
        <div class="row">
          <h3 id="h3-head-6" class="card__title" style="text-align: center;">FEATURE SELECTION</h3>  
        </div>

        <div class="row">
          <h5 id="h3-head-1" class="card__title" style="text-align: center;">SELECT THREE FEATURE SELECTION METHODS</h5>
        </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="container">
                <div class="row">
                  <div class="col-sm-6">
                    <ul id="listFrom" class="nav nav-pills nav-stacked">
                      <li data-id="1" class="active"><a href="#">Patates</a></li>
                      <li data-id="2" class="active"><a href="#">Tomates</a></li>
                      <li data-id="3" class="active"><a href="#">Aggouria</a></li>
                      <li data-id="4" class="active"><a href="#">Kolokithia</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-6">
                    <ul id="listTo" class="nav nav-pills nav-stacked"></ul>
                  </div>
                </div>
              </div>              
            </div>
          </div>

          <div class="row">
            <h5 id="h3-head-1" class="card__title" style="text-align: center;">NUMBER OF FEATURES SELECTED</h5>
          </div>
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
              <div class="slidecontainer">
                <input type="range" min="30" max="100" value="50" class="slider" id="myRange">
                <p>Value: <span id="demo"></span></p>
              </div>
            </div>
            <div class="col-sm-3"></div>            
          </div>

        <hr class="line-hr">

          <div class="step-actions">
            <button class="waves-effect waves-dark btn next-step step-6-click">CONTINUE</button>
            <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
          </div>
        </div>
      </li>
      <!--end page set 7-->

      <!--page set 8-->
      <li class="step step_1_click">
        <div class="step-title waves-effect waves-dark">Step 8</div>
        <div class="step-content">
        <div class="row">
          <h3 id="h3-head-8" class="card__title" style="text-align: center;">RESULTS</h3>  
        </div>
        <div class="row">
        
        </div>  

        <hr class="line-hr">

          <div class="step-actions pg8-btn-margin">
            <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
          </div>
        </div>
      </li>
      <!--end page set 8-->

    </ul>
    </form>
  </div>

</body>
</html>
 
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

<!-- Materializecss compiled and minified JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>

<!-- jQueryValidation Plugin -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.validate.min.js') }}"></script>

<!--dropdown-->
<script type="text/javascript" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous" src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>

<script type="text/javascript" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous" src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'></script>

<!--main navbar-->
<script type="text/javascript" src="{{ url_for('static', filename='js/main-site/stepper-js-file.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/main-site/main.js') }}"></script>

<script type="text/javascript">

// $('.dropdown-menu-annotation-table li').on('click', function() {
//   var getValue = $(this).text();
//   $('.dropdown-select-annotation-table').text(getValue);
// });

// $('.dropdown-menu-column-avg li').on('click', function() {
//   var getValue = $(this).text();
//   $('.dropdown-select-column-avg').text(getValue);
// });
</script>

