<!doctype html>
<title>Preprocess Step3</title>
<form method="post" action="/pre/3/" enctype="multipart/form-data">
    <dl>
		<p>
			<label for="norm_method">NORMALIZATION METHOD:</label>
		    <input name="norm_method" id="norm_method" value="{{ request.form['norm_method'] }}" required>
		    <label for="null_rm_method">NULL VALUE REMOVING METHOD:</label>
		    <input name="null_rm_method" id="null_rm_method" value="{{ request.form['null_rm_method'] }}" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>