<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  

  <title>FYP</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">  

  <!--bootstrap-->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">  

  <!-- Materializecss compiled and minified CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/materialize.min.css') }}">

  <!--Import Google Icon Font-->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/fonts/family=Material+Icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/materialize-stepper.css') }}">

</head>

<body style="background-color: #f3f6f9;">

<div class="nav">

  <div class="nav-header">
    <div class="nav-title">Alz</div>
  </div>

  <div class="nav-links">
    <div>
        <a href="{{ url_for('preprocess.upload_file_view') }}"><span class=""></span>Upload</a>
        <a href="{{ url_for('visualization.index') }}"><span class=""></span>Visualization</a>
        <a href="{{ url_for('preprocess.index') }}"><span class=""></span>Framework</a>
    </div>

    {% if g.user %}
        <span>{{ g.user['username'] }}</span>
        <a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
        <a href="{{ url_for('auth.register') }}">Register</a>
        <a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}

  </div>
</div>
  
  <div id="mainDataInterface-id" class="container mainDataInterface">

        <div class="step-content">
          <div class="row">

            <h3 id="h3-head-2" class="card__title" style="text-align: center;">DATA-SET BEFORE PRE-PROCESSING</h3> 
          </div>

          <div style="overflow: auto;">
            {% for table in tables %}
                        {{titles[loop.index]}}
                        {{ table|safe }}
            {% endfor %}

          </div>
        </div>

          <center>
            <div class="row" style="margin-top: 40px;">
              <div class="col-sm-12">
                <input class="waves-effect waves-dark btn" onclick="window.location.href = '/pre/step-2';" type="submit" value="NEXT">
              </div>
            </div>
          </center>

  </div>

</body>
</html>
 
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

<!-- Materializecss compiled and minified JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>

<!-- jQueryValidation Plugin -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.validate.min.js') }}"></script>

<!--dropdown-->
<script type="text/javascript" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous" src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>

<script type="text/javascript" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous" src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'></script>

<!--main navbar-->
<script type="text/javascript" src="{{ url_for('static', filename='js/main-site/stepper-js-file.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/main-site/main.js') }}"></script>

<script type="text/javascript">

// $('.dropdown-menu-annotation-table li').on('click', function() {
//   var getValue = $(this).text();
//   $('.dropdown-select-annotation-table').text(getValue);
// });

// $('.dropdown-menu-column-avg li').on('click', function() {
//   var getValue = $(this).text();
//   $('.dropdown-select-column-avg').text(getValue);
// });
</script>

