<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FYP: Pre-Process</title>

    <!--bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/fonts/family=Material+Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/materialize-stepper.css') }}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body style="background-color: #f3f6f9;">

<!-- Dropdown Structure -->
{% include 'horizontal_nav_bar.html' %}

<div class="card-content">

    <ul data-method="GET" class="stepper linear">
        <li class="step active">
            <a href="{{ url_for('preprocess.index') }}">
                <div class="step-title waves-effect waves-dark">Pre-processing</div>
            </a>
        </li>
        <li class="step">
            <a href="{{ url_for('fs.index') }}">
                <div class="step-title waves-effect waves-dark">Feature selection</div>
            </a>
        </li>
        <li class="step">
            <a href="{{ url_for('analyze.index') }}">
                <div class="step-title waves-effect waves-dark">Analysis</div>
            </a>
        </li>
        <li class="step">
            <a href="{{ url_for('validation.index') }}">
                <div class="step-title waves-effect waves-dark">Validation</div>
            </a>
        </li>
    </ul>

</div>

<div id="mainDataInterface-id" class="container mainDataInterface">

    <div class="step-content">
        <div class="row">
            <h3 id="h3-head-2" class="card__title" style="text-align: center;">Step 2: Data-set Before Pre-Processing</h3>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <table>
                    <tr>
                        <td>Number of features</td>
                        <td>{{ details["Number of features"] }}</td>
                    </tr>
                    <tr>
                        <td>Number of samples</td>
                        <td>{{ details["Number of samples"] }}</td>
                    </tr>
                </table>
            </div>

            <div class="col-sm-6">
                <table>
                    <tr>
                        <td>Minimum value</td>
                        <td>{{ details["min"] }}</td>
                    </tr>
                    <tr>
                        <td>Maximum value</td>
                        <td>{{ details["max"] }}</td>
                    </tr>
                </table>
            </div>

        </div>

        <div style="overflow: auto;">
            {% for table in tables %}
                {{ table|safe }}
            {% endfor %}

        </div>
    </div>

    <hr class="line-hr">

    <div class="step-actions">
        <button class="waves-effect waves-dark btn next-step step-6-click"><a
                href="{{ url_for('preprocess.indexstep1') }}">CONTINUE</a>
        </button>
        <button class="waves-effect waves-dark btn-flat previous-step"><a
                href="{{ url_for('preprocess.index') }}">BACK</a></button>
    </div>

</div>

{% include 'footer.html' %}

</body>
</html>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

<!-- jQueryValidation Plugin -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.validate.min.js') }}"></script>

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize/materialize.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
