<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FYP: Pre-processing</title>

    <!--bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/fonts/family=Material+Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/materialize-stepper.css') }}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body style="background-color: #f3f6f9;">

<!-- Dropdown Structure -->
{% include 'horizontal_nav_bar.html' %}

<div class="card-content">

    <ul data-method="GET" class="stepper linear">
        <li class="step active">
            <a href="{{ url_for('preprocess.index') }}">
                <div class="step-title waves-effect waves-dark">Pre-processing</div>
            </a>
        </li>
        <li class="step">
            <a href="{{ url_for('fs.index') }}">
                <div class="step-title waves-effect waves-dark">Feature selection</div>
            </a>
        </li>
        <li class="step">
            <a href="{{ url_for('analyze.index') }}">
                <div class="step-title waves-effect waves-dark">Analysis</div>
            </a>
        </li>
        <li class="step">
            <a href="{{ url_for('validation.index') }}">
                <div class="step-title waves-effect waves-dark">Validation</div>
            </a>
        </li>
    </ul>

</div>

<div id="mainDataInterface-id" class="container mainDataInterface">

    <div class="row">
        <h5 id="" class="col-sm-12" style="text-align: left;">Step 3</h5>
    </div>

    <form method="post" action="/pre/step-3" enctype="multipart/form-data">

        <div class="row" style="margin-top: 40px;">
            <div class="col-sm-6">
                <h5 id="h3-head-1" class="card__title" style="text-align: center;">Scaling</h5>
            </div>
            <div class="col-sm-6">
                <div class="md-form">
                    <select class="form-control" id="norm_mthd" name="norm_mthd">
                        <option value="sklearn">Sklearn Normalize</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 40px;">
            <div class="col-sm-6">
                <h5 id="h3-head-1" class="card__title" style="text-align: center;">Imputation</h5>
            </div>
            <div class="col-sm-6">
                <div class="md-form">
                    <select class="form-control" id="null_rmv" name="null_rmv">
                        <option value="drop">Drop</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 40px;">
            <div class="col-sm-5"></div>
            <div class='form-field col-sm-6 step-3-default'>
                <p><input name='checkbox-3-default' type="checkbox" class="filled-in" id="checkbox-3-default"
                          value='checkbox-3-default'/>
                    <label for="checkbox-3-default">DEFAULT METHODS</label>
                </p>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <br>

        <hr class="line-hr">

        <br>

        <div class="step-actions">
            <button class="waves-effect waves-dark btn next-step step-6-click" type="submit" value="Submit"><input
                    class="" type="submit" value="Submit">
            </button>
            <button class="waves-effect waves-dark btn-flat previous-step"><a
                    href="{{ url_for('preprocess.view') }}">BACK</a></button>
        </div>

    </form>

    <!--end page set 3-->

</div>

{% include 'footer.html' %}

</body>
</html>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

<!-- Materializecss compiled and minified JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>

<!-- jQueryValidation Plugin -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.validate.min.js') }}"></script>

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize/materialize.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>