<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GeNet | Pre-Process</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <!--bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/fonts/family=Material+Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/materialize-stepper.css') }}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <style>
        .button {
            margin-top: inherit;
        }
    </style>
</head>

    <style> 
        #loader { 
            border: 12px solid #26a69a66; 
            border-radius: 50%; 
            border-top: 12px solid #26a69a; 
            width: 70px; 
            height: 70px; 
            animation: spin 1s linear infinite; 
        } 
          
        @keyframes spin { 
            100% { 
                transform: rotate(360deg); 
            } 
        } 
          
        .center-load { 
            position: absolute; 
            top: -230px; 
            bottom: 0; 
            left: 0; 
            right: 0; 
            margin: auto; 
        } 
    </style> 

<body class="main-body" style="background-color: #f3f6f9;">

<!-- Dropdown Structure -->
{% include 'horizontal_nav_bar.html' %}

<div class="main-div-step2">

    <div class="card-content">

        <ul data-method="GET" class="stepper linear">
            <li class="step active">
                <a href="{{ url_for('preprocess.index') }}">
                    <div class="step-title waves-effect waves-dark">Pre-processing</div>
                </a>
            </li>
            <li class="step">
                <a href="{{ url_for('fs.index') }}">
                    <div class="step-title waves-effect waves-dark">Feature selection</div>
                </a>
            </li>
            <li class="step">
                <a href="{{ url_for('analyze.index') }}">
                    <div class="step-title waves-effect waves-dark">Analysis</div>
                </a>
            </li>
            <li class="step">
                <a href="{{ url_for('validation.index') }}">
                    <div class="step-title waves-effect waves-dark">Validation</div>
                </a>
            </li>
        </ul>

    </div>

    <div id="mainDataInterface-id" class="container mainDataInterface">

        <form id="main-form-div-step1" method="post" action="/pre/" enctype="multipart/form-data">

            <div class="step-content">
                <div class="row head-word">
                    <h3 id="h3-head-1" class="card__title" style="text-align: center;color: #26a69a;">STEP 1 : CHOOSE DATASET</h3>
                </div>
            </div>

            <div class="where-you-like" style="margin-top: 40px;border: 2px solid #26a69a; padding: 50px;">

                <div class="row" style="margin-top: 40px;">
                    <div class="col-sm-6">
                        <h5 id="h3-head-1" class="card__title" style="text-align: center;">Available Files :</h5>
                    </div>
                    <div class="col-sm-5">
                        <div class="md-form">
                            <select class="form-control" id="available_files" name="available_files">
                                {% for name in available_list %}
                                    <option value="{{ name }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="button btn btn-warning">View</button>
                    </div>
                </div>

                <div class="row" style="margin-top: 40px;">
                    <div class="col-sm-6">
                        <h5 id="h3-head-1" class="card__title" style="text-align: center;">Annotation Table :</h5>
                    </div>
                    <div class="col-sm-6">
                        <div class="md-form">
                            <select class="form-control" id="anno_tbl" name="anno_tbl">
                                {% for name in annotation_list %}
                                    <option value="{{ name }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 40px;">
                    <div class="col-sm-6">
                        <h5 id="h3-head-1" class="card__title" style="text-align: center;">Probe Selection Method :</h5>
                    </div>
                    <div class="col-sm-6">
                        <div class="md-form">
                            <select class="form-control" id="column_selection" name="column_selection">
                                <option value="1">Average</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>

            <div class="step-actions">
                <button id="btn-submit-step-1" class="waves-effect waves-dark btn next-step step-6-click" type="submit" value="Submit">
                    <input type="submit" value="Submit">
                </button>
                <button class="waves-effect waves-dark btn-flat previous-step"><a
                        href="{{ url_for('preprocess.upload_file_view') }}">BACK</a></button>
            </div>

        </form>

    </div>

    <div class="row">
        <form style="display: none" action="/view/" method="POST" id="form" target="_blank">
            <input type="hidden" id="selected_file" name="selected_file" value=""/>
        </form>
    </div>
        
</div>

    <div class="loader-div" style="display: none;">
        <div id="loader" class="center-load"></div> 
        <h5 style="margin-top: 18%;text-align: center;color: #26a69a; margin-bottom: 200px;">PROCESSING</h5>        
    </div> 

{% include 'footer.html' %}

</body>
</html>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

<!-- jQueryValidation Plugin -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.validate.min.js') }}"></script>

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize/materialize.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

<script>

    $(".button").click(function () {
        var conceptName = $('#available_files').find(":selected").text();

        $("#selected_file").val(conceptName);
        $("#form").submit();
    });

    $('#btn-submit-step-1').click(function () {
        $('.main-div-step2').hide(0);
        $('.loader-div').show(0);
        $('.main-body').click(false);
        $("#main-form-div-step1").submit();
    });

</script>

