<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GeNet | Pre-Process</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <!--bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/fonts/family=Material+Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/materialize-stepper.css') }}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<style type="text/css">

        #tourControls{
            top: 80px !important;
        }

    .notification-container{
        position: fixed;
        left: 10px;
        width: 255px;
        max-width: calc(100% - 30px);
    }

    .notification{
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgb(0, 0, 0, 0.2), 0 3px 6px rgb(0, 0, 0, 0.3);
        color: #fff;
        font-size: 14px;
        padding: 8px 0px;
        line-height: 20px;
        margin-bottom: 15px;
        animation: grow 0.5s ease-in forwards;
    }
    @keyframes grow{
        from {
            opacity: 0;
            transform: scale(0.5);
        }
        to{
            opacity: 1;
            transform: scale(1);
        }
    }

    .notification.hide{
        animation: shrink 0.4s ease-out forwards;
    }
    @keyframes shrink{
        to{
            opacity: 0;
            transform: scale(0.6);
        }
    }

    .notification-info{
        background-color: #00000096;
    }

</style>

<body style="background-color: #f3f6f9;">

<!-- Dropdown Structure -->
{% include 'horizontal_nav_bar.html' %}

<div class="notification-container" id="notification-container">
    <div class="notification notification-info">
        <div class="row">
            <p style="text-align: center;font-size: 18px;margin-bottom: -10px;">Do you want a trip?</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a style="float: right;" href="javascript:void(0);" class="btn btn-primary tour">YES</a>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-primary tour_no">NO</a>
            </div>
        </div>
    </div>
</div>

<div class="card-content">

    <ul data-method="GET" class="stepper linear">
        <li class="step active">
            <a href="{{ url_for('preprocess.index') }}">
                <div class="step-title waves-effect waves-dark">Pre-processing</div>
            </a>
        </li>
        <li class="step">
            <a href="{{ url_for('fs.index') }}">
                <div class="step-title waves-effect waves-dark">Feature selection</div>
            </a>
        </li>
        <li class="step">
            <a href="{{ url_for('analyze.index') }}">
                <div class="step-title waves-effect waves-dark">Analysis</div>
            </a>
        </li>
        <li class="step">
            <a href="{{ url_for('validation.index') }}">
                <div class="step-title waves-effect waves-dark">Validation</div>
            </a>
        </li>
    </ul>

</div>

<div id="mainDataInterface-id" class="container mainDataInterface">

    <div class="step-content">
        <div class="row">
            <h3 id="h3-head-2" class="card__title" style="text-align: center;color: #26a69a;">STEP 2 : DATASET BEFORE PRE-PROCESS</h3>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <table>
                    <tr>
                        <td>Number of features</td>
                        <td id="number_features_div">{{ details["Number of features"] }}</td>
                    </tr>
                    <tr>
                        <td>Number of samples</td>
                        <td id="number_samples_div">{{ details["Number of samples"] }}</td>
                    </tr>
                </table>
            </div>

            <div class="col-sm-6">
                <table>
                    <tr>
                        <td>Minimum value</td>
                        <td id="min_val_div">{{ details["min"] }}</td>
                    </tr>
                    <tr>
                        <td>Maximum value</td>
                        <td id="max_val_div">{{ details["max"] }}</td>
                    </tr>
                </table>
            </div>

        </div>

        <div id="table_div" style="overflow: auto;">
            {% for table in tables %}
                {{ table|safe }}
            {% endfor %}
        </div>
    </div>

    <hr class="line-hr">

    <div class="step-actions">
        <button class="waves-effect waves-dark btn next-step step-6-click"><a
                href="{{ url_for('preprocess.indexstep1') }}">CONTINUE</a>
        </button>
        <button class="waves-effect waves-dark btn-flat previous-step"><a
                href="{{ url_for('preprocess.index') }}">BACK</a></button>
    </div>

</div>

{% include 'footer.html' %}

</body>
</html>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

<!-- jQueryValidation Plugin -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.validate.min.js') }}"></script>

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize/materialize.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.aSimpleTour.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</html>

<script>
    var tour = {
        data : [
            { element : '#number_features_div', tooltip : 'Choose a file from the list!!', text: 'number of features', position: 'T' },
            { element : '#number_samples_div', tooltip : 'num of samples!!', text: 'Number of samples', position: 'T' },
            { element : '#min_val_div', tooltip : 'min val of dataset!!', text: 'Minimum value', position: 'T' },
            { element : '#max_val_div', tooltip : 'max val of dataset!!', text: 'Maximum value', position: 'T' },
            { element : '#table_div', tooltip : 'view of dataset!!', text: 'Data-set', position: 'T' }
        ],
        welcomeMessage: 'Lets Start Tour!',
        controlsPosition : 'TL',
        buttons: {
            next  : { text : 'Next &rarr;', class : 'btn btn-default'},
            prev  : { text : '&larr; Previous', class: 'btn btn-default' },
            start : { text : 'Start', class: 'btn btn-primary' },
            end   : { text : 'End', class: 'btn btn-primary' }
        },
        controlsCss: {
            background: 'rgba(187, 178, 48, 0.71)',
            color: '#1c1d21',
            width: '400px',
            'border-radius': 0
        }
    };

    $(document).ready(function(){
        $('.tour').on('click', function(){
            $.aSimpleTour(tour);
            $('.notification-container').hide(1000);
        });
        $('.tour_no').on('click', function(){
            $('.notification-container').hide(1000);
        });
    });
</script>
