<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GeNet | Pre-Process</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <!--bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/fonts/family=Material+Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/materialize-stepper.css') }}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<style>

    .button {
        margin-top: inherit;
    }

    .flash {
        margin: 1em 0;
        padding: 1em;
        background: #f6ac8f;
        border: 1px solid #5c0202;
        text-align: center;
    }

    ul.stepper .step.active:before, ul.stepper .step.done:before {
        background-color: #26a69a;
    }

    #other_annotation{
        display: none;
    }

</style>

<body class="main-body" style="background-color: #f3f6f9;font-family: monospace;">

<!-- Dropdown Structure -->
{% include 'horizontal_nav_bar.html' %}

<div class="main-div-step2">

    <div class="card-content">

        <ul data-method="GET" class="stepper linear">
            <li id="side_step_nav_preprocess_icon" class="step active">
                <a href="{{ url_for('preprocess.index') }}">
                    <div class="step-title waves-effect waves-dark">Pre-processing</div>
                </a>
            </li>
            <li id="side_step_nav_feature_icon" class="step">
                <a href="{{ url_for('fs.index') }}">
                    <div class="step-title waves-effect waves-dark">Feature selection</div>
                </a>
            </li>
            <li id="side_step_nav_analize_icon" class="step">
                <a href="{{ url_for('analyze.index') }}">
                    <div class="step-title waves-effect waves-dark">Analysis</div>
                </a>
            </li>
            <li id="side_step_nav_validation_icon" class="step">
                <a href="{{ url_for('validation.index') }}">
                    <div class="step-title waves-effect waves-dark">Validation</div>
                </a>
            </li>
        </ul>

    </div>

    <div id="mainDataInterface-id" class="container mainDataInterface">

        <form id="main-form-div-step1" method="post" action="/pre/step-2" enctype="multipart/form-data">

            <div class="step-content">
                <div class="row head-word">
                    <h3 id="h3-head-1" class="card__title"
                        style="text-align: center;color: #26a69a;font-family: monospace;">STEP 1 : CHOOSE DATA SET</h3>
                </div>
            </div>

            <div class="where-you-like"
                 style="font-family: monospace;margin-top: 40px;border: 2px solid #26a69a; padding: 50px;">

                {% for message in get_flashed_messages() %}
                    <div class="row">
                        <div class="flash">{{ message }}</div>
                    </div>
                {% endfor %}

                <div class="row" style="margin-top: 40px;">
                    <div class="col-sm-6">
                        <h5 id="h3-head-1" class="card__title" style="text-align: center;font-family: monospace;">
                            Available Files :</h5>
                    </div>
                    <div id="available_file_name" class="col-sm-5">
                        <div class="md-form">
                            <select style="font-family: monospace;" class="form-control" id="available_files"
                                    name="available_files">
                                {% for name in available_list %}
                                    <option value="{{ name }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div id="view_div" class="col-sm-1">
                        <button type="button" class="view_button btn btn-warning" {% if available_list | length == 0 %}
                                disabled {% endif %} style="margin-top: inherit;">View
                        </button>
                    </div>
                </div>

                <div class="row" style="margin-top: 40px;">
                    <div class="col-sm-6">
                        <h5 id="h3-head-1" class="card__title" style="text-align: center;font-family: monospace;">
                            Annotation Table :</h5>
                    </div>
                    <div id="annotation_table_name" class="col-sm-6">
                        <div class="md-form">
                            <select style="font-family: monospace;" class="form-control" id="anno_tbl" name="anno_tbl">
                                {% for name in annotation_list %}
                                    <option value="{{ name[1] }}">{{ name[0] }}</option>
                                {% endfor %}
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 40px;" id="other_annotation">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6">
                        <div class="file-upload">
                            <div class="file-select" style="font-family: monospace;">
                                <div class="file-select-button" id="fileName">Choose File</div>
                                <div class="file-select-name" id="noFile">No file choosen...</div>
                                <input type="file" name="chooseFile" id="chooseFile" required>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" style="margin-top: 40px;">
                    <div class="col-sm-6">
                        <h5 id="h3-head-1" class="card__title" style="text-align: center;font-family: monospace;">Probe
                            Selection Method :</h5>
                    </div>
                    <div id="average_div" class="col-sm-6">
                        <div class="md-form">
                            <select style="font-family: monospace;" class="form-control" id="column_selection"
                                    name="column_selection">
                                <option value="1">Average</option>
                                <option value="2">Max</option>
                                <option value="3">Min</option>
                                <option value="4">Interquartile Range</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>

            <div class="step-actions">
                <button id="btn-submit-step-1" class="waves-effect waves-dark btn next-step step-6-click" type="submit"
                        value="Submit" {% if available_list | length == 0 %} disabled {% endif %}>
                    <input type="submit" value="Submit">
                </button>
                <button id="btn-skip-step-1" class="waves-effect waves-dark btn next-step" type="button"
                        style="background-color: cadetblue;"
                        {% if available_list | length == 0 %} disabled {% endif %}>SKIP MAPPING
                </button>
                <button id="btn-submit-step-back" class="waves-effect waves-dark btn-flat previous-step"><a
                        href="{{ url_for('preprocess.upload_file_view') }}">BACK</a></button>
            </div>

        </form>

    </div>

    <div class="row">
        <form style="display: none" action="/view/" method="POST" id="form" target="_blank">
            <input type="hidden" id="selected_file" name="selected_file" value=""/>
        </form>
    </div>

</div>

<div class="loader-div" style="display: none;">
    <div id="loader" class="center-load"></div>
    <h5 style="text-align: center;color: #26a69a;">PROCESSING</h5>
</div>

{% include 'guide_footer.html' %}

</body>
</html>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

<!-- jQueryValidation Plugin -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.validate.min.js') }}"></script>

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize/materialize.min.js') }}"></script>

{% if g.user['is_verified'] == 2 %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/google_auth_main.js') }}"></script>

    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
{% else %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endif %}

<script>

    //csv read
    $('#chooseFile').bind('change', function () {
        var filename = $("#chooseFile").val();
        if (/^\s*$/.test(filename)) {
            $(".file-upload").removeClass('active');
            $("#noFile").text("No file chosen...");
        }
        else {
            $(".file-upload").addClass('active');
            $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
        }
    });

    $('#anno_tbl').change(function () {
        if (anno_tbl.value == 'other') {
            document.getElementById('other_annotation').style.display = "block";
        }else{
            document.getElementById('other_annotation').style.display = "none";
        }
    });


    $(".view_button").click(function () {
        var conceptName = $('#available_files').find(":selected").text();

        $("#selected_file").val(conceptName);
        $("#form").submit();

        $('#tourControls').hide(0);
    });

    $('#btn-skip-step-1').click(function () {

        var file_name = $('#available_files').find(":selected").text();
        url = '{{ url_for('preprocess.skip_df_mapping') }}' + "?selected_file=" + file_name;

        $('.main-div-step2').hide(0);
        $('.loader-div').show(0);
        $('.main-body').click(false);
        $('#tourControls').hide(0);
        $('.notification-container-pop').hide(0);

        window.location.replace(url);
    });

    $('#btn-submit-step-1').click(function () {
        $('.main-div-step2').hide(0);
        $('.loader-div').show(0);
        $('.main-body').click(false);
        $("#main-form-div-step1").submit();
        $('#tourControls').hide(0);
        $('.notification-container-pop').hide(0);
    });

    {% if upload_file %}
        document.getElementById('available_files').value= "{{ upload_file }}";
    {% endif %}

</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/fontawesome-all.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/guide/jquery.aSimpleTour.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/guide/guide_data.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/guide/guide_main.js') }}"></script>

<script>

    var tour = guide_main_call(tip_step_1, 'BL');

</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/disable_validation.js') }}"></script>

<script type="text/javascript">

    disable_prop = {{ g.dList }};

    disable_read_fun(disable_prop)
</script>