<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FYP: Pre-Process</title>

    <!--bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/fonts/family=Material+Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/materialize-stepper.css') }}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body style="background-color: #f3f6f9;">

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li class="nav_link"><a href="{{ url_for('preprocess.index') }}">Pre-processing</a></li>
    <li class="nav_link"><a href="{{ url_for('fs.index') }}">Feature selection</a></li>
    <li class="nav_link"><a href="{{ url_for('analyze.index') }}">Analysis</a></li>
    <li class="nav_link"><a href="{{ url_for('validation.index') }}">Validation</a></li>
</ul>
<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Alz</a>
        <ul class="right hide-on-med-and-down">
            <li class="nav_link"><a href="{{ url_for('preprocess.upload_file_view') }}"><span class=""></span>Upload</a>
            </li>
            <li class="nav_link"><a href="{{ url_for('visualization.index') }}"><span class=""></span>Visualization</a>
            </li>
            <!-- Dropdown Trigger -->
            <li class="nav_link"><a class="dropdown-trigger" href="#" data-target="dropdown1">Framework<i
                    class="material-icons right">arrow_drop_down</i></a></li>
            <li class="nav_link"><a href="{{ url_for('modeling.predict') }}"><span class=""></span>Prediction</a>
            </li>
            {% if g.user %}
                <li><span>{{ g.user['username'] }}</span></li>
                <li class="nav_link"><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
            {% else %}
                <li class="nav_link"><a href="{{ url_for('auth.register') }}">Register</a></li>
                <li class="nav_link"><a href="{{ url_for('auth.login') }}">Log In</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="card-content">

    <ul data-method="GET" class="stepper linear">
        <li class="step active">
            <a href="{{ url_for('preprocess.index') }}">
                <div class="step-title waves-effect waves-dark">Pre-processing</div>
            </a>
        </li>
        <li class="step">
            <a href="{{ url_for('fs.index') }}">
                <div class="step-title waves-effect waves-dark">Feature selection</div>
            </a>
        </li>
        <li class="step">
            <a href="{{ url_for('analyze.index') }}">
                <div class="step-title waves-effect waves-dark">Analysis</div>
            </a>
        </li>
        <li class="step">
            <a href="{{ url_for('validation.index') }}">
                <div class="step-title waves-effect waves-dark">Validation</div>
            </a>
        </li>
    </ul>

</div>

<div id="mainDataInterface-id" class="container mainDataInterface">

    <form method="post" action="/pre/" enctype="multipart/form-data">

        <div class="step-content">
            <div class="row head-word">
                <h3 id="h3-head-1" class="card__title" style="text-align: center;">Choose your basic dataset</h3>
            </div>
        </div>

        <div class="where-you-like" style="margin-top: 40px;">

            <div class="row" style="margin-top: 40px;">
                <div class="col-sm-6">
                    <h5 id="h3-head-1" class="card__title" style="text-align: center;">AVAILABLE FILES:</h5>
                </div>
                <div class="col-sm-6">
                    <div class="md-form">
                        <select class="form-control" id="available_files" name="available_files">
                            {% for name in available_list %}
                                <option value="{{ name }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 40px;">
                <div class="col-sm-6">
                    <h5 id="h3-head-1" class="card__title" style="text-align: center;">ANNOTATION TABLE:</h5>
                </div>
                <div class="col-sm-6">
                    <div class="md-form">
                        <select class="form-control" id="anno_tbl" name="anno_tbl">
                            {% for name in annotation_list %}
                                <option value="{{ name }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 40px;">
                <div class="col-sm-6">
                    <h5 id="h3-head-1" class="card__title" style="text-align: center;">COLUMN AVERAGE:</h5>
                </div>
                <div class="col-sm-6">
                    <div class="md-form">
                        <select class="form-control" id="column_selection" name="column_selection">
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                </div>
            </div>
            <center>
                <div class="row" style="margin-top: 40px;">
                    <div class="col-sm-12">
                        <input class="waves-effect waves-dark btn" type="submit" value="Submit">
                    </div>
                </div>
            </center>
        </div>

    </form>

</div>

</body>
</html>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

<!-- jQueryValidation Plugin -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.validate.min.js') }}"></script>

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize/materialize.min.js') }}"></script>


<script>
    $(document).ready(function () {
        console.log("ready!");
        $(".dropdown-trigger").dropdown();
    });
</script>

