<!DOCTYPE html>
<html lang="en">
<head>

    <title>FYP: {{ data[0] }}</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/fonts/family=Material+Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/materialize-stepper.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {#    Table css and js#}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.css') }}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/jquery/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/jquery/dataTables.bootstrap4.min.js') }}"></script>

    <style>
        .pagination li.active {
            background-color: inherit;
        }

        .content_1 {
            padding-left: 10%;
            padding-right: 10%;
        }
    </style>

</head>
<body>

<!-- Dropdown Structure -->
{% include 'horizontal_nav_bar.html' %}

<div class="row content_1">
    <div class="row" id="h5-head-6" class="card__title">
        <h5>{{ data[0] }}</h5>
    </div>

    <div class="row">
        <div id="table_div">
            {% for table in tables %}
                {{ table|safe }}
            {% endfor %}
        </div>
    </div>
</div>


</body>
<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize/materialize.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>

</html>