<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
{#    <script type="text/javascript" charset="utf8"#}
{#            src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>#}
    <script type="text/javascript" charset="utf8"
            src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

</head>
<body>
{#{{ tables }}#}
{% for table in tables %}
{#    {{ titles[loop.index] }}#}
    {{ table|safe }}
{% endfor %}

</body>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>
</html>