<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/util.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!--bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/fonts/family=Material+Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/materialize-stepper.css') }}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">

    <style>
        .result > img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 100%;
        }

         #gene_symbol_div{
            visibility: hidden;
        }

        .form_container{
            padding-right: 10px;
            padding-left: 10px;
        }
    </style>

    <title>FYP: Visualization</title>
</head>
<body>
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
</ul>
<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Alz</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('preprocess.upload_file_view') }}"><span class=""></span>Upload</a></li>
            <li><a href="{{ url_for('visualization.index') }}"><span class=""></span>Visualization</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="{{ url_for('preprocess.index') }}" data-target="dropdown1">Framework<i
                    class="material-icons right">arrow_drop_down</i></a>
                {% if g.user %}
                    <li><span>{{ g.user['username'] }}</span></li>
                    <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

<div class="limiter">
    <div class="row head-word">
        <h3 id="h3-head-1" class="card__title" style="text-align: center;">Visualization</h3>
    </div>
    <div class="row">

        <div class="col-sm-7 image_container">
            {% if image_data %}
                <div class="result">
                    <img src="data:image/png;base64,{{ image_data }}" alt="my plot">
                </div>
            {% endif %}

        </div>

        <div class="col-sm-5 form_container">
            <form class="login100-form validate-form" method="post" action="/vis/">

                <div class="row" style="margin-top: 40px;">
                    <div class="col-sm-12">
                        <h5 id="h3-head-1" class="card__title" style="text-align: center;">AVAILABLE FILES:</h5>
                    </div>
                    <div class="col-sm-12">
                        <div class="md-form">
                            <select class="form-control" id="available_files" name="available_files">
                                <option disabled="disabled" selected>Pick a choice!</option>
                                {% for name in available_list %}
                                    <option value="{{ name }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 40px;" id="gene_symbol_div">
                    <div class="col-sm-12">
                        <h5 id="h3-head-1" class="card__title" style="text-align: center;">GENE SYMBOLS:</h5>
                    </div>
                    <div class="col-sm-12">
                        <div class="md-form">
                            <select class="form-control" id="features" name="features">

                            </select>
                        </div>
                    </div>
                </div>


                <div class="step-actions">
                    <button class="waves-effect waves-dark btn next-step step-6-click" id="submit_button">
                        Update
                    </button>
                </div>

            </form>
        </div>

    </div>

</div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

<!-- jQueryValidation Plugin -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.validate.min.js') }}"></script>

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize/materialize.min.js') }}"></script>


<script>
    $(document).ready(function () {
        $('#submit_button').prop('disabled', true);
        $(".dropdown-trigger").dropdown();
    });
</script>

<script>

    $('#available_files').change(function () {
        document.getElementById("gene_symbol_div").style.visibility = "visible";

        var conceptName = $('#available_files').find(":selected").text();
        $('#submit_button').prop('disabled', false);
        $.get("./js/", {available_files: conceptName, user_id: {{ g.user['id'] }}}, function (data, status) {
            data = data.split(",");
            for (i = 0; i < data.length; i++) {
                console.log('.');
                f = data[i]
                $('#features').append("<option value=" + f + "> " + f + "</option>");
            }
        });
    });
</script>
</html>