<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FYP: Register</title>

    <!--bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/fonts/family=Material+Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/materialize-stepper.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">

    <style>
        .center {
            margin: auto;
            width: 50%;
            padding: 10px;
        }

        .border {
            border: 2px solid #bcbaba;
            border-radius: 30px;
            padding: 35px;
        }

        .flash {
            margin: 1em 0;
            padding: 1em;
            background: #cae6f6;
            border: 1px solid #377ba8;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        svg:hover {
            color: red;
        }

        button, input[type="submit"], input[type="reset"] {
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
        }

    </style>
</head>

<body style="background-color: #f3f6f9;">

<!-- Dropdown Structure -->
{% include 'horizontal_nav_bar.html' %}

<div id="mainDataInterface-id" class="container mainDataInterface">


    <div class="step-content">
        <div class="row head-word">
            <h3 id="h3-head-1" class="card__title" style="text-align: center;">Settings</h3>
        </div>
    </div>

    <div>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="border row">
            <div class="col-sm-5">
                <h5>User details</h5><br>
                <label for="username" style="float: left">E-mail</label>
                <input type="email" name="username" id="username" disabled value="{{ data[0][0] }}">
                <label for="given_name" style="float: left">Name</label>
                <input name="given_name" id="given_name" value="{{ data[0][1] }}">
                <button class="waves-effect waves-dark btn" style="float: left" id="update_name">Update</button>
            </div>
            <div class="col-sm-7">
                <h5>Files</h5><br>
                <table>
                    {% for index, row in df_files.iterrows() %}
                        <tr class="row" id="tr_{{ row['file name'] }}">
                            <td class="col-sm-2">{{ row['file name'] }}</td>
                            <td class="col-sm-7">
                                <div class="progress">
                                    <div class="determinate" style="width: {{ row['percentage'] }}%"></div>
                                </div>
                            </td>
                            <td class="col-sm-2">{{ row['percentage'] }} %</td>
                            <td class="col-sm-1">
                                <button class="use-address" value="{{ row['file name'] }}">
                                    <i class="fas fa-trash-alt fa-2x"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

            </div>

        </div>
        <div class="row">
            <h5>Delete account</h5>
            <p></p>
            <button class="waves-effect waves-dark btn" style="float: left" id="delete_account">Delete</button>
        </div>
        <div>


        </div>
    </div>

</div>

{% include 'footer.html' %}

</body>
</html>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

<!-- jQueryValidation Plugin -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.validate.min.js') }}"></script>

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize/materialize.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/fontawesome-all.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

<script>
    $(document).ready(function () {
        $(".dropdown-trigger").dropdown();
    });


    $(".use-address").click(function () {
        var $row = $(this).closest("tr");
        var $item = $row.find(".use-address").val();
        $.get("/update/delete/file/", {id: '{{ g.user['id'] }}', name: $item}, function (data, status) {
            document.getElementById('tr_' + $item).remove();
        });

    });

    $("#update_name").click(function () {
        var given_name = document.getElementById('given_name').value;
        console.log(given_name);
        $.get("/update/user/givenname/", {id: '{{ g.user['id'] }}', name: given_name}, function (data, status) {
            console.log(data);
        });
    });

    $("#delete_account").click(function () {
        $.get("/update/user/delete/", {id: '{{ g.user['id'] }}'}, function (data, status) {
            console.log(data);
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log("Sign out");
                window.location.replace('/auth/logout');
            });
        });
    });
</script>



