<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FYP</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <!-- Materializecss compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/materialize.min.css') }}">

    <!--bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/fonts/family=Material+Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/materialize-stepper.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">

    <style>
        .summary_plot > img {
            padding: 5px;
            width: 100%;
        }

        div.centre {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
            margin-bottom: 0;
            align-content: center;
            text-align: center;
        }

        .result_content {
            border-style: ridge;
            padding: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 16px;
        }

        ul {
            list-style-type: circle;
        }

        .modal {
            bottom: inherit;
        }

        .modal-content {
            position: initial;
            background-color: inherit;
            border-radius: inherit;
            border: inherit;
        }
    </style>

</head>


<body style="background-color: #f3f6f9;">

<!-- Dropdown Structure -->
{% include 'horizontal_nav_bar.html' %}

<div class="card-content">

    <ul data-method="GET" class="stepper linear">
        <li class="step">
            <a href="{{ url_for('preprocess.index') }}">
                <div class="step-title waves-effect waves-dark">Pre-processing</div>
            </a>
        </li>
        <li class="step">
            <a href="{{ url_for('fs.index') }}">
                <div class="step-title waves-effect waves-dark">Feature selection</div>
            </a>
        </li>
        <li class="step">
            <a href="{{ url_for('analyze.index') }}">
                <div class="step-title waves-effect waves-dark">Analysis</div>
            </a>
        </li>
        <li class="step active">
            <a href="{{ url_for('validation.index') }}">
                <div class="step-title waves-effect waves-dark">Validation</div>
            </a>
        </li>
    </ul>

</div>


<div id="mainDataInterface-id" class="container mainDataInterface">

    <div class="step-heading">
        <div class="row">
            <h3 id="h3-head-6" class="card__title" style="text-align: center;">Validation</h3>
        </div>
    </div>

    <div class="step-content">

        <div class="alert alert-info">
            <strong>Info!</strong>
            <ul>
                <li>- There are <b> {{ col_gene_card[0] | length }} already identified </b> genes within
                    the {{ method_names[3] }}
                    genes selected from <b> {{ method_names[0] }} </b> . <a href="#modal1"
                                                                            onclick="more_click({param1: {{ col_gene_card[0] }} , param2: '{{ method_names[0] }}', param3: '1'})">more</a>
                </li>
                <li>- There are <b>{{ col_gene_card[1] | length }} already identified </b> genes within
                    the {{ method_names[3] }}
                    genes selected from <b> {{ method_names[1] }} </b> .<a href="#modal1"
                                                                           onclick="more_click({param1: {{ col_gene_card[1] }} , param2: '{{ method_names[1] }}', param3: '2'})">more</a>
                </li>
                <li>- There are <b>{{ col_gene_card[2] | length }} already identified </b> genes within
                    the {{ method_names[3] }}
                    genes selected from <b> {{ method_names[2] }} </b> .<a href="#modal1"
                                                                           onclick="more_click({param1: {{ col_gene_card[2] }} , param2: '{{ method_names[2] }}', param3: '3'})">more</a>
                </li>
            </ul>
        </div>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4 id="method_head">Modal Header</h4>
                <p style="word-wrap: break-word;" id="feature_list"></p>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>

        <div class="result_content">
            <div class="row">
                <h4 id="h4-head-6" class="card__title" style="text-align: center;"></h4>
            </div>

            <div class="alert alert-danger">
                <strong>Our Method!</strong> Out of those predicted {{ col_gene_card[3] | length }},
                {{ col_gene_card[4] | length }} were currently discovered. <a href="#modal1"
                                                                              onclick="more_click({param1: {{ col_gene_card[3] }} , param2: {{ col_gene_card[4] }}, param3: '4'})">more</a>
            </div>

            <div style="overflow: auto;">
                {% for table in tables %}
                    {{ table|safe }}
                {% endfor %}
            </div>
        </div>


        <hr class="line-hr">

        <div class="step-actions">
            <button class="waves-effect waves-dark btn next-step step-6-click">
                <a href="{{ url_for('modeling.index') }}">MODELING</a>
            </button>
            <button class="waves-effect waves-dark btn-flat previous-step">
                <a href="{{ url_for('analyze.final_result') }}">BACK</a>
            </button>
        </div>
    </div>

</div>

{% include 'footer.html' %}

</body>
</html>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

<!-- Materializecss compiled and minified JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>

<!-- jQueryValidation Plugin -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.validate.min.js') }}"></script>

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize/materialize.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

<script>
    function more_click(event) {
        var element = document.getElementById("feature_list");
        var element_head = document.getElementById("method_head");
        var list = event.param1;
        var head = event.param2;
        var i = event.param3;

        if (i == '4') {
            var out = "<b>Identified All Genes: " + list.length + " </b><br><br>" + list + "<br><br> <b>Already Identified Genes: " + head.length + "</b><br><br>" + head;
            console.log(list.length);
            element_head.innerHTML = "Our Framework";
            element.innerHTML = out;
        } else {
            element.innerHTML = list;
            element_head.innerHTML = head;
        }
        $('#modal1').openModal();
    }
</script>