<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FYP: Modeling</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!--bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/fonts/family=Material+Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/materialize-stepper.css') }}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">

</head>

<body style="background-color: #f3f6f9;">

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
</ul>
<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Alz</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('preprocess.upload_file_view') }}"><span class=""></span>Upload</a></li>
            <li><a href="{{ url_for('visualization.index') }}"><span class=""></span>Visualization</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="{{ url_for('preprocess.index') }}" data-target="dropdown1">Framework<i
                    class="material-icons right">arrow_drop_down</i></a>
                {% if g.user %}
                    <li><span>{{ g.user['username'] }}</span></li>
                    <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

{#<div class="nav">#}
{##}
{#    <div class="nav-header">#}
{#        <div class="nav-title">Alz</div>#}
{#    </div>#}
{##}
{#    <div class="nav-links">#}
{#        <div>#}
{#            <a href="{{ url_for('preprocess.upload_file_view') }}"><span class=""></span>Upload</a>#}
{#            <a href="{{ url_for('visualization.index') }}"><span class=""></span>Visulization</a>#}
{#            <div><a href="{{ url_for('preprocess.index') }}"><span class=""></span>Framework</a></div>#}
{#            <div class="dropdown">#}
{#                <a class="" id="menu1" data-toggle="dropdown">Tutorials</a>#}
{#                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">#}
{#                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>#}
{#                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>#}
{#                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>#}
{#                    <li role="presentation" class="divider"></li>#}
{#                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{##}
{#{% if g.user %}#}
{#    <span>{{ g.user['username'] }}</span>#}
{#    <a href="{{ url_for('auth.logout') }}">Log Out</a>#}
{#{% else %}#}
{#    <a href="{{ url_for('auth.register') }}">Register</a>#}
{#    <a href="{{ url_for('auth.login') }}">Log In</a>#}
{#{% endif %}#}
{##}
{#    </div>#}
{#</div>#}

<div id="mainDataInterface-id" class="container mainDataInterface">

    <form method="post" action="/mod/" enctype="multipart/form-data">

        <div class="step-content">
            <div class="row head-word">
                <h3 id="h3-head-1" class="card__title" style="text-align: center;">MODELING</h3>
            </div>
        </div>

        {% if state == '1' %}

            <div class="alert alert-success alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> Your predictive model created successfully. <a href="">Lets Try</a>
            </div>

        {% elif state == '0' %}

            <div class="alert alert-danger alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Danger!</strong> Something went wrong.
            </div>

        {% endif %}

        <div class="features">
            <h5>Extracted Features </h5>
            <div class="well">{{ features }}</div>
        </div>

        <br>

        <div class="where-you-like" style="margin-top: 40px;">

            <div class="row" style="margin-top: 40px;">
                <div class="col-sm-6">
                    <h5 id="h3-head-1" class="card__title" style="text-align: center;">Choose File:</h5>
                </div>
                <div class="col-sm-6">
                    <div class="md-form">
                        <select class="form-control" id="available_files" name="available_files">
                            {% for name in available_list %}
                                <option value="{{ name }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 40px;">
                <div class="col-sm-6">
                    <h5 id="h3-head-1" class="card__title" style="text-align: center;">Classifier:</h5>
                </div>
                <div class="col-sm-6">
                    <div class="md-form">
                        <select class="form-control" id="classifier" name="classifier">
                            {% for name in classifier_list %}
                                <option value="{{ name }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <br><br>
            <hr class="line-hr">

            <div class="step-actions">
                <button class="waves-effect waves-dark btn next-step step-6-click">SUBMIT</button>
            </div>
        </div>

    </form>

</div>

</body>
</html>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

<!-- jQueryValidation Plugin -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.validate.min.js') }}"></script>

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize/materialize.min.js') }}"></script>


<script>
    $(document).ready(function () {
        console.log("ready!");
        $(".dropdown-trigger").dropdown();
    });
</script>