<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GeNet | Prediction</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <!--bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/fonts/family=Material+Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/materialize-stepper.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<style>
    .pagination li.active {
        background-color: inherit;
    }

    #anno_tbl_div {
        visibility: hidden;
    }

    #modal_create {
        float: right;
    }

    #modal_create > button {
        background-color: #eea236;
        font-size: 8px;
    }

    #modal_create > button > a {
        text-decoration: none;
        color: inherit;
    }

    .button {
        margin-top: inherit;
    }

    #progress_bar {
        visibility: hidden;
    }
</style>

<body class="main-body" style="background-color: #f3f6f9; font-family: monospace;">

<!-- Dropdown Structure -->
{% include 'horizontal_nav_bar.html' %}

<div class="main-div-predict">
    <div id="mainDataInterface-id" class="container mainDataInterface">

        <div class="step-content">
            <div class="row head-word">
                <h3 id="h3-head-1" class="card__title"
                    style="text-align: center;color: #26a69a;font-family: monospace;">PREDICTION</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-2">
                        <h5>Details</h5>
                    </div>
                    <div class="col-sm-4" id="modal_create">
                        <button type="button" class="btn btn-warning">
                            <a style="font-size: 15px;font-family: monospace;" href="{{ url_for('modeling.index') }}">Customize
                                Model</a>
                        </button>
                    </div>

                </div>
                <div class="row">
                    <table>
                        <tr>
                            <td>Classifier:</td>
                            <td id="selected_classifier">{{ default_details[2] }}</td>
                        </tr>
                        <tr>
                            <td>Accuracy:</td>
                            <td id="selected_accuracy">{{ default_details[3] }} %</td>
                        </tr>
                        <tr>
                            <td>Trained from:</td>
                            <td id="selected_from">{{ default_details[1] }}</td>
                        </tr>
                        <tr>
                            <td>Features:</td>
                            <td id="selected_features">{{ default_details[0] }}</td>
                        </tr>
                    </table>
                </div>
                <div class="row">

                    <label>
                        <input id="default_model" type="checkbox" class="filled-in" checked="checked" {% if not details %}
                            disabled
                        {% endif %}/>
                        <span>Default Model</span>
                    </label>
                </div>
            </div>

            <div class="col-sm-6" style="">
                <form id="main-form-div-predict" method="post" action="/mod/predict/results/" id="predict-result"
                      enctype="multipart/form-data">

                    <br>

                    <div class="where-you-like" style="margin-top: 40px;border: 2px solid #26a69a;padding: 20px;">

                        <div class="row" style="margin-top: 10px;">
                            <div class="col-sm-4">
                                <h5 id="" class="card__title" style="text-align: center;font-family: monospace;">Choose
                                    File:</h5>
                            </div>
                            <div class="col-sm-5">
                                <div id="select_file_div" class="md-form">
                                    <select style="font-family: monospace;" class="form-control" id="available_files"
                                            name="available_files">
                                        {% for name in available_list %}
                                            <option value="{{ name }}">{{ name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div id="show_file_div" class="col-sm-3" style="padding-left: inherit">
                                <button type="button" class="button btn btn-warning view_button_step_1">View</button>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 10px; margin-bottom: -75px;margin-right: 10px;">
                            <div class="row">
                                <h5 id="h5-head-1" class="card__title"
                                    style="text-align: center;font-family: monospace;">Check pre-process
                                    steps</h5>
                            </div>
                            <div class="row">

                                <div class="switch row" id="all">
                                    <span class="col-sm-6">Normalize: </span>
                                    <label id="select_normalize_div" class="col-sm-6" onclick="update_checkbox(event)">
                                        Off
                                        <input type="checkbox" value="false" id="is_norm" name="is_norm">
                                        <span class="lever"></span>
                                        On
                                    </label>
                                </div>

                                <div class="switch row">
                                    <div class="row">
                                        <span class="col-sm-6">Annotation Table Mapping </span>
                                        <label id="select_annotation_div" class="col-sm-6"
                                               onclick="update_checkbox(event)">
                                            Off
                                            <input type="checkbox" value="false" id="is_map" name="is_map">
                                            <span class="lever"></span>
                                            On
                                        </label>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6"></div>
                                        <div class="col-sm-6">
                                            <div class="md-form" id="anno_tbl_div">
                                                <select style="font-family: monospace;" class="form-control"
                                                        id="anno_tbl" name="anno_tbl" style="margin-bottom: 20px;">
                                                    {% for name in annotation_list %}
                                                        <option value="{{ name[1] }}">{{ name[0] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <input type="hidden" id="is_default_model" name="is_default_model" value="1">

                    <div class="submit">
                        <button id="btn-submit-predict" class="waves-effect waves-dark btn next-step step-6-click"
                                id="btn-submit">SUBMIT
                        </button>
                    </div>

                </form>
            </div>

        </div>

        <div class="row">
            <hr class="line-hr">

        </div>
    </div>
</div>

<div class="row">
    <form style="display: none" action="/view/" method="POST" id="form" target="_blank">
        <input type="hidden" id="selected_file" name="selected_file" value=""/>
    </form>
</div>


<div class="loader-div" style="display: none;">
    <div id="loader" class="center-load"></div>
    <h5 class="loader_div_h1">PREDICTING RESULTS</h5>
</div>

{% include 'guide_footer.html' %}

</body>
</html>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize/materialize.min.js') }}"></script>

{% if g.user['is_verified'] == 2 %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/google_auth_main.js') }}"></script>

    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
{% else %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endif %}

<script>
    document.getElementById('default_model').value = 1;

    function update_checkbox(event) {
        var id = event.target.id;
        if (id) {

            if (id == 'is_map') {
                document.getElementById("anno_tbl_div").style.visibility = "visible";
            }
            document.getElementById(id).value = document.getElementById(id).checked;
        }
    }
    $(".button").click(function () {
        var conceptName = $('#available_files').find(":selected").text();

        $("#selected_file").val(conceptName);
        $("#form").submit();
        $('#tourControls').hide(0);
        $('.notification-container-pop').hide(0);
    });

    $('#btn-submit-predict').click(function () {
        $('.main-div-predict').hide(0);
        $('.loader-div').show(0);
        $('.main-body').click(false);

        var conceptName = $('#available_files').find(":selected").text();

        $("#selected_file").val(conceptName);

        $("#main-form-div-predict").submit();
        $('#tourControls').hide(0);
        $('.notification-container-pop').hide(0);
    });

    $('#default_model').click(function () {
        var is_default = document.getElementById('default_model').value == 0 ? 1:0;
        if(is_default == 1){
            document.getElementById('selected_classifier').innerHTML = '{{ default_details[2] }}';
            document.getElementById('selected_accuracy').innerHTML = '{{ default_details[3] }} %';
            document.getElementById('selected_from').innerHTML = '{{ default_details[1] }}';
            document.getElementById('selected_features').innerHTML = '{{ default_details[0] }}';
        }else{
            document.getElementById('selected_classifier').innerHTML = '{{ details[2] }}';
            document.getElementById('selected_accuracy').innerHTML = '{{ details[3] }} %';
            document.getElementById('selected_from').innerHTML = '{{ details[1] }}';
            document.getElementById('selected_features').innerHTML = '{{ details[0] }}';
        }
        document.getElementById('is_default_model').value = is_default;
        document.getElementById('default_model').value = is_default;
    })

</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/fontawesome-all.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/guide/jquery.aSimpleTour.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/guide/guide_data.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/guide/guide_main.js') }}"></script>

<script>

    var tour = guide_main_call(tip_model_predict, 'BL');

</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/disable_validation.js') }}"></script>

<script type="text/javascript">

    disable_prop = {{ g.dList }};

    disable_read_fun(disable_prop)
</script>