<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GeNet | Clustering</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <!-- Materializecss compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/materialize.min.css') }}">

    <!--bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/fonts/family=Material+Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/materialize-stepper.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">

    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

    <style>

        #mynetwork {
            width: 100%;
            height: 600px;
        }

        div.centre {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
            margin-bottom: 0;
            align-content: center;
            text-align: center;
        }

        ul {
            list-style-type: circle;
        }

        .modal {
            bottom: inherit;
        }

        .modal-content {
            position: initial;
            background-color: inherit;
            border-radius: inherit;
            border: inherit;
        }

        #result_view {
            display: none;
        }

        .dot {
            height: 25px;
            width: 25px;
            background-color: #97c2fc;;
            border-radius: 50%;
            display: inline-block;
            border: solid;
            border-color: #5b99eb;
            border-width: 1.5px;
        }
    </style>

</head>

<body class="main-body" style="background-color: #f3f6f9;font-family: monospace;">

<!-- Dropdown Structure -->
{% include 'horizontal_nav_bar.html' %}

<div class="main-div-config">

    <div id="mainDataInterface-id" class="container mainDataInterface">

        <div class="step-content">
            {% if node or error %}

                <div class="row">
                    <h3 id="h3-head-6" class="card__title"
                        style="text-align: center;color: #26a69a;font-family: monospace;">CLUSTERING</h3>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-6">
                        <label style="float: right;font-size: 20px;"><b>Selected File: </b> {{ filename }}</label>
                    </div>
                    <div class="col-sm-3 change_file_div">
                        <a onclick="open_modal()" href="#"
                           style="color: #26a69a;text-decoration: none;font-size: 15px;"><i
                                class="fas fa-exchange-alt fa-2x"></i> Change file</a>
                    </div>
                    <div class="col-sm-2"></div>
                </div>

                {% if error %}

                    <div class="row">
                        <div class="alert alert-danger alert-dismissible fade in">
                            <a class="close" data-dismiss="alert" aria-label="close" style="top: -13px;">&times;</a>
                            <strong>Danger!</strong> {{ error }}
                        </div>
                    </div>

                {% else %}

                    <div class="row">
                        <div class="result_content">
                            <div class="row" style="text-align: center;">
                                <label style="font-size: 20px;"><b>Number of clusters identified: </b> {{ n_labels }}
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-sm-6" style="text-align: right; padding-top: 7px;">
                                    <label>Select Cluster: </label>
                                </div>
                                <div class="col-sm-6">
                                    <select style="font-family: monospace; width: auto;" class="form-control"
                                            id="cluster_num"
                                            name="cluster_num">
                                        <option value="" selected>All</option>
                                        {% for i in range(0, n_labels) %}
                                            <option value="{{ i }}">{{ i + 1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row" style="text-align: center;" id="result_view">
                                <span class="dot"></span>
                                <label>Selected cluster nodes </label>
                            </div>
                            <div class="row">
                                <div id="mynetwork"></div>
                            </div>

                        </div>
                    </div>

                {% endif %}

            {% endif %}

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <div class="row">
                        <h4 id="h3-head-1" class="card__title"
                            style="text-align: center;font-family: monospace;">Choose File</h4>

                    </div>
                    {% if all_names | length == 0 %}
                        <div class="alert alert-danger">
                            <strong>Danger!</strong> You don't have done feature selection. <a
                                href="{{ url_for('fs.index') }}">Lets start</a>
                        </div>
                    {% endif %}

                    <div class="content">
                        <form method="post" action="/net/" enctype="multipart/form-data" id="main-form">

                            <div class="md-form">
                                <select style="font-family: monospace;" class="form-control" id="file_name" name="file_name">
                                    <option disabled="disabled" selected>Pick a choice!</option>
                                    {% for name in all_names %}
                                        <option value="{{ name }}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="modal-close waves-effect waves-green btn-flat" id="submit_button">Submit</button>
                    {% if node %}
                        <a class="modal-close waves-effect waves-green btn-flat">Close</a>
                    {% else %}
                        <a class="modal-close waves-effect waves-green btn-flat">Close</a>
                    {% endif %}
                </div>
            </div>


        </div>

    </div>
</div>

<div class="loader-div" style="display: none;">
    <div id="loader" class="center-load"></div>
    <h5 style="text-align: center;color: #26a69a;font-size: 4vw;">GENERATING CLUSTERS</h5>
</div>

{% include 'footer.html' %}

</body>
</html>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

<!-- Materializecss compiled and minified JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>

<!-- jQueryValidation Plugin -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.validate.min.js') }}"></script>

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize/materialize.min.js') }}"></script>

{% if g.user['is_verified'] == 2 %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/google_auth_main.js') }}"></script>

    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
{% else %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endif %}

<script type="text/javascript" src="{{ url_for('static', filename='js/fontawesome-all.js') }}"></script>

{% if node %}

    <script type="text/javascript">

        function draw(group_no) {
            var nodes = {{ node | tojson }};

            var edges = {{ edges | tojson }};

            if (group_no) {

                var group1_nodes = $(nodes).filter(function (i, n) {
                    return n.group == group_no
                });

                var view_node = [];
                var view_edge = [];

                for (j = 0; j < group1_nodes.length; j++) {

                    if (!view_node.includes(group1_nodes[j].id.toString())) {
                        view_node.push(group1_nodes[j].id.toString());
                    }

                    var tmp = $(edges).filter(function (i, n) {
                        return n.from == ( group1_nodes[j].id.toString() )
                    });

                    for (k = 0; k < tmp.length; k++) {
                        var n_id = tmp[k].to;
                        if (!view_node.includes(n_id)) {
                            view_node.push(n_id);
                        }
                    }
                    view_edge.push(group1_nodes[j].id.toString());
                }

                var new_nodes = [];
                for (j = 0; j < nodes.length; j++) {
                    if (view_node.includes(nodes[j].id.toString())) {
                        new_nodes.push(nodes[j]);
                    }
                }

                var new_edges = [];
                for (j = 0; j < edges.length; j++) {
                    if (view_edge.includes(edges[j].from)) {
                        new_edges.push(edges[j]);
                    }
                }

                nodes = new_nodes;
                edges = new_edges;
            }

            // create a network
            var container = document.getElementById("mynetwork");
            var data = {
                nodes: nodes,
                edges: edges
            };
            var options = {
                nodes: {
                    shape: "dot",
                    size: 16
                },
                physics: {
                    forceAtlas2Based: {
                        gravitationalConstant: -26,
                        centralGravity: 0.005,
                        springLength: 230,
                        springConstant: 0.18
                    },
                    maxVelocity: 146,
                    solver: "forceAtlas2Based",
                    timestep: 0.35,
                    stabilization: {iterations: 150}
                },
                layout: {
                    improvedLayout: false
                }
            };
            var network = new vis.Network(container, data, options);
        }

        $('#cluster_num').change(function () {
            var n = $('#cluster_num').find(":selected").val();
            if (n) {
                draw(n.toString());
                $('#result_view').show();
            } else {
                draw();
                $('#result_view').hide();
            }
        });

        draw();

    </script>

{% elif not error %}

    <script>

        $('#modal1').openModal({dismissible: false});

    </script>

{% endif %}

<script>

    $('#submit_button').prop('disabled', true);

    function open_modal() {
        $('#modal1').openModal();
    }

    $('#submit_button').click(function () {
        $('.main-div-config').hide(0);
        $('.loader-div').show(0);
        $('.main-body').click(false);
        $("#main-form").submit();
    });

    $('#file_name').change(function () {

        if( $( "#file_name" ).val() != null ){
            $('#submit_button').prop('disabled', false);
        }

    });

</script>