<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FYP: Modeling</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon_error.png') }}">
    <!--bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/fonts/family=Material+Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/materialize-stepper.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">

</head>

    <style>
        img {
            padding: 5px;
            width: 30%;
        }
    </style>

<body style="background-color: #f3f6f9;">

<!-- Dropdown Structure -->
{% include 'horizontal_nav_bar.html' %}

<div id="mainDataInterface-id" style="margin-bottom: 80px;" class="container mainDataInterface">

    <div class="step-content">
        <div class="row head-word">
            <h3 id="h3-head-1" class="card__title" style="text-align: center;color: red;margin-top: 25px;">Error: {{ errors[0] }}</h3>
        </div>

        <br>
    
        <div class="row">
            <div class="col-sm-12 center">
                <img src="{{ url_for('static', filename='images/error/not_found.png') }}" alt="error">
            </div>            
        </div>

        <div class="row">
            <div class="col-sm-12" style="text-align: center;">
                {% for error in errors[1] %}
                    <li>{{ error }}</li>
                {% endfor %}
            </div>

        </div>

    </div>

</div>

{% include 'footer.html' %}

</body>
</html>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

<!-- jQueryValidation Plugin -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.validate.min.js') }}"></script>

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize/materialize.min.js') }}"></script>

{% if g.user['is_verified'] == 2 %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/google_auth_main.js') }}"></script>

    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
{% else %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endif %}
