<div class="row"></div>

<center>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 style="font-family: monospace;font-size: 30px;"><b>GeNet</b></h5>
                <p class="card__title" style="font-size: 20px;text-align: justify; font-family: monospace;margin-top: -10px;">Gene Expression Analysis Tool</p>
            </div>
            <div class="col l4 offset-l2 s12" style="font-family: monospace;">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://www.genecards.org/" target="_blank">GeneCards</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.ncbi.nlm.nih.gov/geo/" target="_blank">GEO</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/AlzheimersUOP" target="_blank">Github</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container" style="text-align: center;font-family: monospace;">
            © 2020 Copyright | Department of Computer Engineering, University of Peradeniya
{#            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>#}
        </div>
    </div>
</footer>
</center>