<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FYP: Feature Selection</title>

    <!--bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/fonts/family=Material+Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/materialize-stepper.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">

    <style>
        .slider {
            height: inherit;
        }

    </style>
</head>


<body style="background-color: #f3f6f9;">

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li class="nav_link"><a href="{{ url_for('preprocess.index') }}">Pre-processing</a></li>
    <li class="nav_link"><a href="{{ url_for('fs.index') }}">Feature selection</a></li>
    <li class="nav_link"><a href="{{ url_for('analyze.index') }}">Analysis</a></li>
    <li class="nav_link"><a href="{{ url_for('validation.index') }}">Validation</a></li>
</ul>
<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Alz</a>
        <ul class="right hide-on-med-and-down">
            <li class="nav_link"><a href="{{ url_for('preprocess.upload_file_view') }}"><span class=""></span>Upload</a>
            </li>
            <li class="nav_link"><a href="{{ url_for('visualization.index') }}"><span class=""></span>Visualization</a>
            </li>
            <!-- Dropdown Trigger -->
            <li class="nav_link"><a class="dropdown-trigger" href="#" data-target="dropdown1">Framework<i
                    class="material-icons right">arrow_drop_down</i></a></li>
            <li class="nav_link"><a href="{{ url_for('modeling.predict') }}"><span class=""></span>Prediction</a>
            </li>
            {% if g.user %}
                <li><span>{{ g.user['username'] }}</span></li>
                <li class="nav_link"><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
            {% else %}
                <li class="nav_link"><a href="{{ url_for('auth.register') }}">Register</a></li>
                <li class="nav_link"><a href="{{ url_for('auth.login') }}">Log In</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="card-content">

    <ul data-method="GET" class="stepper linear">
        <li class="step ">
            <a href="{{ url_for('preprocess.index') }}">
                <div class="step-title waves-effect waves-dark">Pre-processing</div>
            </a>
        </li>
        <li class="step active">
            <a href="{{ url_for('fs.index') }}">
                <div class="step-title waves-effect waves-dark">Feature selection</div>
            </a>
        </li>
        <li class="step">
            <a href="{{ url_for('analyze.index') }}">
                <div class="step-title waves-effect waves-dark">Analysis</div>
            </a>
        </li>
        <li class="step">
            <a href="{{ url_for('validation.index') }}">
                <div class="step-title waves-effect waves-dark">Validation</div>
            </a>
        </li>
    </ul>

</div>


<div id="mainDataInterface-id" class="container mainDataInterface">

    <div class="step">
        <div class="step-content">
            <div class="row">
                <h3 id="h3-head-6" class="card__title" style="text-align: center;">FEATURE SELECTION</h3>
            </div>

            <div class="row">
                <h5 id="h3-head-1" class="card__title" style="text-align: center;">SELECT THREE FEATURE SELECTION
                    METHODS</h5>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul id="listFrom" class="nav nav-pills nav-stacked">
                                    <li data-id="1" class="active" data-value="PCA">PCA</li>
                                    <li data-id="2" class="active" data-value="Random Forest">Random Forest</li>
                                    <li data-id="3" class="active" data-value="Extra Tree Classifier">Extra Tree
                                        Classifier
                                    </li>
                                    <li data-id="4" class="active" data-value="Kolokithia">Kolokithia</li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul id="listTo" class="nav nav-pills nav-stacked"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <h5 id="h3-head-1" class="card__title" style="text-align: center;">NUMBER OF FEATURES SELECTED</h5>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="slidecontainer">
                        <input type="range" min="30" max="100" value="50" class="slider" id="myRange">
                        <p>Value: <span id="demo"></span></p>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>

            <hr class="line-hr">

            <div class="step-actions">
                <button class="waves-effect waves-dark btn next-step step-6-click" onclick="myFunction()">CONTINUE
                </button>
                <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
            </div>
        </div>
    </div>


</div>

<form style="display: none" action="/fs/" method="POST" id="form">
    <input type="hidden" id="fs_methods" name="fs_methods" value=""/>
</form>
</body>
</html>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

<!-- jQueryValidation Plugin -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.validate.min.js') }}"></script>

<!--main navbar-->
<script type="text/javascript" src="{{ url_for('static', filename='js/main-site/stepper-js-file.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/main-site/main.js') }}"></script>

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize/materialize.min.js') }}"></script>

<script>
    $(document).ready(function () {
        $(".dropdown-trigger").dropdown();
        console.log("ready");
    });
</script>

<script>
    function myFunction() {
        var val = document.getElementById("listTo");
        var arr = val.getElementsByClassName('active');
        var fs = new Array(3);
        var i;
        for (i = 0; i < arr.length; i++) {
            fs[i] = arr[i].getAttribute('data-value');
        }

        fs[3] = document.getElementById("demo").innerHTML;

        $("#fs_methods").val(fs);
        $("#form").submit();

    }
</script>