<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GeNet | Analysis</title>

    <!--bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/fonts/family=Material+Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/materialize-stepper.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">

    <style>
        .summary_plot > img {
            padding: 5px;
            width: 100%;
        }

        div.centre {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
            margin-bottom: 0;
            align-content: center;
            text-align: center;
        }

        .result_content {
            border-color: #26a69a;
            border-style: ridge;
            padding: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 16px;
        }
    </style>

</head>

    <style> 
        #loader { 
            border: 12px solid #26a69a66; 
            border-radius: 50%; 
            border-top: 12px solid #26a69a; 
            width: 70px; 
            height: 70px; 
            animation: spin 1s linear infinite; 
        } 
          
        @keyframes spin { 
            100% { 
                transform: rotate(360deg); 
            } 
        } 
          
        .center-load { 
            position: absolute; 
            top: -230px; 
            bottom: 0; 
            left: 0; 
            right: 0; 
            margin: auto; 
        } 

        .container-1 {
            position: relative;
            text-align: center;
        }

        .top-right {
            position: absolute;
            top: 8px;
            right: 5px;
        }          
    </style> 

<style type="text/css">

/*        #tourControls{
            bottom: 80px !important;
        }*/

        #tourtip{
           width: 290px !important; 
        }

    .notification-container{
        position: fixed;
        left: 10px;
        width: 245px;
        max-width: calc(100% - 30px);
    }

    .notification{
        background-color: #fff;
        /*border-radius: 5px;
        box-shadow: 0 3px 6px rgb(0, 0, 0, 0.2), 0 3px 6px rgb(0, 0, 0, 0.3);*/
        color: #fff;
        font-size: 14px;
        padding: 8px 0px;
        line-height: 20px;
        /*margin-bottom: 15px;*/
        animation: grow 0.5s ease-in forwards;
    }
    @keyframes grow{
        from {
            opacity: 0;
            transform: scale(0.5);
        }
        to{
            opacity: 1;
            transform: scale(1);
        }
    }

    .notification.hide{
        animation: shrink 0.4s ease-out forwards;
    }
    @keyframes shrink{
        to{
            opacity: 0;
            transform: scale(0.6);
        }
    }

    .notification-info{
        background-color: #00000096;
    }

</style>

<body class="main-body" style="background-color: #f3f6f9;">

<!-- Dropdown Structure -->
{% include 'horizontal_nav_bar.html' %}

<div class="notification-container" id="notification-container">
    <div class="notification notification-info">
        <div class="row">
            <p style="text-align: center;font-size: 15px;margin-bottom: -10px;">Do you want a trip?</p>
        </div>
        <div class="row" style="margin-bottom: 7px;margin-top: -8px;">
            <div class="col-sm-6">
                <a style="float: right;" href="javascript:void(0);" class="btn btn-primary tour">YES</a>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-primary tour_no">NO</a>
            </div>
        </div>
    </div>
</div>

<div class="main-div-an-1">
    <div class="card-content">

        <ul data-method="GET" class="stepper linear">
            <li class="step">
                <a href="{{ url_for('preprocess.index') }}">
                    <div class="step-title waves-effect waves-dark">Pre-processing</div>
                </a>
            </li>
            <li class="step">
                <a href="{{ url_for('fs.index') }}">
                    <div class="step-title waves-effect waves-dark">Feature selection</div>
                </a>
            </li>
            <li class="step active">
                <a href="{{ url_for('analyze.index') }}">
                    <div class="step-title waves-effect waves-dark">Analysis</div>
                </a>
            </li>
            <li class="step">
                <a href="{{ url_for('validation.index') }}">
                    <div class="step-title waves-effect waves-dark">Validation</div>
                </a>
            </li>
        </ul>

    </div>

    <div id="mainDataInterface-id" class="container mainDataInterface">

        <div class="step-heading">
            <div class="row">
                <h3 id="h3-head-6" class="card__title" style="text-align: center;color: #26a69a;">ANALYSIS</h3>
            </div>
        </div>

        <div class="step-content">

            <div class="result_content">
                <div class="row">
                    <h5 id="h5-head-6" class="card__title" style="text-align: center;">Training accuracies of genes only
                        found by each classifier and the overlapped set of genes</h5>
                </div>

                <div class="row">
                    <div id="result_plot_div1" class="container-1">
                        <div class="summary_plot">
                            <img id="training_accuracy" src="data:image/png;base64,{{ overlap_data }}" alt="overlap">
                        </div>
                        <div class="top-right">
                            <button type="button" style="margin-left: 10px;color: #26a69a;border: none; background-color: white;"
                                            class="use-download-training_accuracy" value="">
                                <i class="fas fa-file-download fa-2x"></i>
                            </button>
                        </div> 
                    </div>                   
                </div>

                <div class="row">
                    <p class="card__title" style="font-size: 15px;text-align: justify; font-family: monospace;">There are some features that are only selected by one feature selection method. Also, there are some features that are selected by all three feature selection methods. We will refer to these genes as the 'overlap' features. The right graph shows the number of features selected by each method together with the overlap set. The left graph shows how the accuracy of these features varies with 3 classifiers; SVM+ Gaussian kernal, SVM+ Linear kernel and Random forest !</p>
                </div>                 
            </div>


            <div class="result_content">
                <div class="row">
                    <h5 id="h4-head-6" class="card__title" style="text-align: center;">Classification accuracy of three
                        classifiers using incrementally smaller sets of genes</h5>
                </div>

                <div class="row">
                    <div id="result_plot_div2" class="container-1">
                        <div class="summary_plot">
                            <img id="classification_accuracy" src="data:image/png;base64,{{ small_set }}" alt="small_set">
                        </div>
                        <div class="top-right">
                            <button type="button" style="margin-left: 10px;color: #26a69a;border: none; background-color: white;"
                                            class="use-download-classification_accuracy" value="">
                                <i class="fas fa-file-download fa-2x"></i>
                            </button>
                        </div>
                    </div>                     
                </div>

                <div class="row">
                    <p class="card__title" style="font-size: 15px;text-align: justify; font-family: monospace;">You can  view how the accuracy varies with incrementally smaller set of genes. For example, if the selected number of features by each method is 50, you can get the best 50, 40,30,20,10,5,3,2,1 set of genes by gradually decreasing the number of features. By plotting the accuracy for these subsets of genes, you can see how the accuracy varies according to the number of features you select. Here also, you can compare and contrast the results using 3 classifiers !</p>
                </div>                
            </div>


            <div class="result_content">
                <div class="row">
                    <h5 id="h4-head-6" class="card__title" style="text-align: center;"> Correlation matrix</h5>
                </div>


                <div class="row">
                    <div id="result_plot_div3" class="container-1">
                        <div class="summary_plot">
                            <img id="correlation_matrix" src="data:image/png;base64,{{ corr_data }}" alt="correlation">
                        </div>
                        <div class="top-right">
                            <button type="button" style="margin-left: 10px;color: #26a69a;border: none; background-color: white;"
                                            class="use-download-correlation_matrix" value="">
                                <i class="fas fa-file-download fa-2x"></i>
                            </button>
                        </div>
                    </div>                    
                </div>

                <div class="row">
                    <p class="card__title" style="font-size: 15px;text-align: justify; font-family: monospace;">In gene expression analysis, removing the redundant data is vital. One such method to remove redundancy is to minimize the number of correlated genes. For this, we plot the correlation matrix of the features selected by each feature selection method alone. By examining this plot, you can see which method gives the highest correlated genes and which gives the lowest correlated genes !</p>
                </div> 

            </div>


            <div id="select_method_div" class="row centre">
                <button class="btn-submit-an-1 button waves-effect waves-dark btn" value="{{ methods[0] }}">{{ methods[0] }}</button>
                <button class="btn-submit-an-1 button waves-effect waves-dark btn" value="{{ methods[1] }}">{{ methods[1] }}</button>
                <button class="btn-submit-an-1 button waves-effect waves-dark btn" value="{{ methods[2] }}">{{ methods[2] }}</button>
            </div>

            <hr class="line-hr">

            <div class="step-actions">
                <button class="waves-effect waves-dark btn-flat previous-step"><a {{ url_for('fs.result') }}>BACK</a>
                </button>
            </div>
        </div>

        <form id="main-form-div-an-1" style="display: none" action="/an/step2" method="POST" id="form">
            <input type="hidden" id="selected_method" name="selected_method" value=""/>
        </form>

    </div>
</div>

    <div class="loader-div" style="display: none;">
        <div id="loader" class="center-load"></div> 
        <h5 class="h5-text" style="margin-top: 18%;text-align: center;color: #26a69a; margin-bottom: 200px;"></h5>
        <h5 style="margin-top: -12%;text-align: center;color: #26a69a; margin-bottom: 200px;">ANALYSING RESULTS</h5>        
    </div> 

{% include 'footer.html' %}

</body>
</html>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

<!-- Materializecss compiled and minified JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>

<!-- jQueryValidation Plugin -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.validate.min.js') }}"></script>

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize/materialize.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/fontawesome-all.js') }}"></script>

<!-- <script>
    $("button").click(function () {
        var fired_button = $(this).val();

        $("#selected_method").val(fired_button);
        $("#form").submit();
    });
</script>
 -->
<script type="text/javascript">

    $('.btn-submit-an-1').click(function () {
        $('.main-div-an-1').hide(0);
        $('.loader-div').show(0);
        $('.main-body').click(false);

        var fired_button = $(this).val();

        $('.h5-text').text(fired_button);
        $("#selected_method").val(fired_button);
        $("#main-form-div-an-1").submit();        
    });

    $(".use-download-training_accuracy").click(function () {
        var img = document.getElementById('training_accuracy');
        var url = img.src;

        var a1 = document.createElement("a");
        a1.href = url;
        a1.download = "training_accuracy.png";
        a1.click();
    }); 

    $(".use-download-classification_accuracy").click(function () {
        var img = document.getElementById('classification_accuracy');
        var url = img.src;

        var a2 = document.createElement("a");
        a2.href = url;
        a2.download = "classification_accuracy.png";
        a2.click();
    });

    $(".use-download-correlation_matrix").click(function () {
        var img = document.getElementById('correlation_matrix');
        var url = img.src;

        var a3 = document.createElement("a");
        a3.href = url;
        a3.download = "correlation_matrix.png";
        a3.click();
    });
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.aSimpleTour.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script>
    var tour = {
        data : [
            { element : '#result_plot_div1', tooltip : 'Right: Number of features selected by each method only, Left : The variation of accuracy with the features selected by one method trained under 3 classifiers !', text: 'Training accuracies', position: 'T' },
            { element : '#result_plot_div2', tooltip : 'Variation of accuracy of incrementally smaller sets of genes selected by each feature selection method !', text: 'Classification accuracy', position: 'T' },
            { element : '#result_plot_div3', tooltip : 'Correlation matrix of the selected features that are only obtained through that method !', text: 'Correlation matrix', position: 'T' },
            { element : '#select_method_div', tooltip : 'Select one of the feature selection method to proceed further. By doing this, you will be able to filter out the best set of genes given by the selected feature selection method !', text: 'Select one methord', position: 'T' }
        ],
        welcomeMessage: 'Lets Start Tour!',
        controlsPosition : 'BR',
        buttons: {
            next  : { text : 'Next &rarr;', class : 'btn btn-default'},
            prev  : { text : '&larr; Previous', class: 'btn btn-default' },
            start : { text : 'Start', class: 'btn btn-primary' },
            end   : { text : 'End', class: 'btn btn-primary' }
        },
        controlsCss: {
            background: 'rgba(187, 178, 48, 0.71)',
            color: '#1c1d21',
            width: '400px',
            'border-radius': 0
        }
    };

    $(document).ready(function(){
        $('.tour').on('click', function(){
            $.aSimpleTour(tour);
            $('.notification-container').hide(1000);
        });
        $('.tour_no').on('click', function(){
            $('.notification-container').hide(1000);
        });
    });

    notification_on = true;

    if(notification_on){
        $('.notification-container').fadeIn(1000);
    }
    else{
        $('.notification-container').hide(0);       
    }
</script>